#numeMagazin {
   padding-top: 0.5cm;
 }
 #miereCuNuci{
     padding-bottom: 0.72cm;
 }
 #textMiereCuNuci{
    padding-bottom: 0.67cm;
 }
 #textMiereCuCatina{
    padding-bottom: 0.67cm;
 }
 body{
    background-image: url("https://img3.stockfresh.com/files/d/djmilic/m/82/7761067_stock-photo-black-and-white-honeycomb-abstract-background-3d.jpg");;
 }
 .text{margin-bottom: 1em;}

 .textItalic {
    font-style: italic;
}